@{
    ViewBag.Title = "PageVideo";
}

<section>
    <div class="container ">
        <div class="row ">
            <div class="col-xs-16 banner-outer-thumb  pull-left  wow fadeInLeft animated" data-wow-delay="0.5s" data-wow-offset="50">
                <div class="row">
                    <div id="banner-thumbs" class="owl-carousel">
                        @Html.Partial("_ShileVideo")
                    </div>
                </div>
            </div>
            <!-- left sec start -->
            <div class="col-md-12 col-sm-12">               

                <div class="row block_colom">
                    <div class="main-title-outer DJ_title pull-left">
                        <div class="main-title">recent videos</div>
                        <div class="span-outer"><span class="pull-right text-danger last-update"><span class="ion-android-data icon"></span>Last update: 1 day ago</span> </div>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">

                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>                      
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">

                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">

                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">

                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">

                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-2.jpg" class="img-thumbnail">
                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>                     
                     </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-3.jpg" class="img-thumbnail">
                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>                      
                     </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-3.jpg" class="img-thumbnail">
                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>                      
                    </div>

                </div>

                <div class="row block_colom">
                    <div class="main-title-outer DJ_title pull-left">
                        <div class="main-title">recent videos</div>
                        <div class="span-outer"><span class="pull-right text-danger last-update"><span class="ion-android-data icon"></span>Last update: 1 day ago</span> </div>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">

                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">

                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">

                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">

                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">

                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-2.jpg" class="img-thumbnail">
                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-3.jpg" class="img-thumbnail">
                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-3.jpg" class="img-thumbnail">
                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row block_colom">
                    <div class="main-title-outer DJ_title pull-left">
                        <div class="main-title">recent videos</div>
                        <div class="span-outer"><span class="pull-right text-danger last-update"><span class="ion-android-data icon"></span>Last update: 1 day ago</span> </div>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">

                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">

                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">

                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">

                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">

                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-2.jpg" class="img-thumbnail">
                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-3.jpg" class="img-thumbnail">
                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-3.jpg" class="img-thumbnail">
                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row block_colom">
                    <div class="main-title-outer DJ_title pull-left">
                        <div class="main-title">recent videos</div>
                        <div class="span-outer"><span class="pull-right text-danger last-update"><span class="ion-android-data icon"></span>Last update: 1 day ago</span> </div>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">

                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">

                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">

                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">

                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">

                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-2.jpg" class="img-thumbnail">
                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-3.jpg" class="img-thumbnail">
                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sec-topic item_DJS col-sm-16 col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                        <a href="#">
                            <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-3.jpg" class="img-thumbnail">
                            <span class="play_videos">
                                <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                            </span>
                            <div class="sec-info">
                                <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                                <div class="text-danger sub-info-bordered">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <!-- left sec end -->
            <!-- right sec start -->
            <div class="col-sm-4 hidden-xs right-sec">
                @Html.Partial("_comlRight")
            </div>
        </div>
    </div>
</section>
