USE [Giaitriviet]
GO
/****** Object:  Table [dbo].[Administrator]    Script Date: 12/9/2016 6:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Administrator](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](250) NULL,
	[Password] [varchar](255) NULL,
	[FullName] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Phone] [nvarchar](50) NULL,
	[isAdmin] [tinyint] NULL,
	[Allowed] [tinyint] NULL,
 CONSTRAINT [PK_Administrator] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Business]    Script Date: 12/9/2016 6:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Business](
	[BusinessId] [varchar](64) NOT NULL,
	[BusinessName] [nvarchar](250) NULL,
 CONSTRAINT [PK_Business] PRIMARY KEY CLUSTERED 
(
	[BusinessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CatNew]    Script Date: 12/9/2016 6:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatNew](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[MetaTitle] [nvarchar](max) NULL,
	[ParentID] [bigint] NULL,
	[DisplayOrder] [int] NULL,
	[SeoTitle] [nvarchar](max) NULL,
	[CatDepth] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[MetaKeywords] [nvarchar](max) NULL,
	[MetaDescriptions] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[DeleteCateVideo] [bit] NULL,
 CONSTRAINT [PK_CatNew] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CatVideo]    Script Date: 12/9/2016 6:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatVideo](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[MetaTitle] [nvarchar](max) NULL,
	[ParentID] [bigint] NULL,
	[DisplayOrder] [int] NULL,
	[SeoTitle] [nvarchar](max) NULL,
	[CatDepth] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[MetaKeywords] [nvarchar](max) NULL,
	[MetaDescriptions] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[DeleteCateVideo] [bit] NULL,
 CONSTRAINT [PK_CatVideo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContenNew]    Script Date: 12/9/2016 6:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContenNew](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[MetaTitle] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[CategoryID] [bigint] NULL,
	[Detail] [ntext] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[MetaKeywords] [nvarchar](max) NULL,
	[MetaDescriptions] [nvarchar](max) NULL,
	[ViewCount] [int] NULL,
	[TopHot] [int] NULL,
	[Status] [bit] NULL,
	[Tags] [nvarchar](max) NULL,
	[DeleteVideo] [bit] NULL,
 CONSTRAINT [PK_ContenNew] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GrantPermission]    Script Date: 12/9/2016 6:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrantPermission](
	[PermissionId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_GrantPermission] PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Permission]    Script Date: 12/9/2016 6:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Permission](
	[PermissionId] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [varchar](250) NULL,
	[Description] [nvarchar](256) NULL,
	[BusinessId] [varchar](64) NULL,
 CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Videos]    Script Date: 12/9/2016 6:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Videos](
	[Id] [bigint] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[MetaTitle] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[CategoryID] [bigint] NULL,
	[Keyoutube] [varchar](250) NULL,
	[Detail] [nvarchar](max) NULL,
	[Warranty] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[MetaKeywords] [nvarchar](max) NULL,
	[MetaDescriptions] [nvarchar](max) NULL,
	[ViewCount] [int] NULL,
	[TopHot] [int] NULL,
	[Status] [bit] NULL,
	[Tags] [nvarchar](max) NULL,
	[DeleteVideo] [bit] NULL,
 CONSTRAINT [PK_Videos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Administrator] ON 

INSERT [dbo].[Administrator] ([UserId], [Username], [Password], [FullName], [Email], [Avatar], [Phone], [isAdmin], [Allowed]) VALUES (1, N'Phuc', N'429795df0d3a0225b8abe1ddf6be4b8', N'Phuc Ka', N'phuc@gmail.com', NULL, N'01636326878', 1, 1)
INSERT [dbo].[Administrator] ([UserId], [Username], [Password], [FullName], [Email], [Avatar], [Phone], [isAdmin], [Allowed]) VALUES (2, N'user 1', N'429795df0d3a0225b8abe1ddf6be4b8', N'user 01', N'user01@gmail.com', NULL, N'01636326878', 0, 1)
SET IDENTITY_INSERT [dbo].[Administrator] OFF
INSERT [dbo].[Business] ([BusinessId], [BusinessName]) VALUES (N'AdministratorController', N'Quản lý người dùng')
INSERT [dbo].[Business] ([BusinessId], [BusinessName]) VALUES (N'BusinessController', N'Quản lý nghiệp vụ')
INSERT [dbo].[Business] ([BusinessId], [BusinessName]) VALUES (N'CatNewController', N'Quản lý chủ đề tin')
INSERT [dbo].[GrantPermission] ([PermissionId], [UserId], [Description]) VALUES (2, 2, N'')
INSERT [dbo].[GrantPermission] ([PermissionId], [UserId], [Description]) VALUES (3, 2, N'')
INSERT [dbo].[GrantPermission] ([PermissionId], [UserId], [Description]) VALUES (4, 2, N'')
SET IDENTITY_INSERT [dbo].[Permission] ON 

INSERT [dbo].[Permission] ([PermissionId], [PermissionName], [Description], [BusinessId]) VALUES (1, N'AdministratorController-Create', N'Thêm người dùng', N'AdministratorController')
INSERT [dbo].[Permission] ([PermissionId], [PermissionName], [Description], [BusinessId]) VALUES (2, N'AdministratorController-Create', N'Chưa có mô tả', N'AdministratorController')
INSERT [dbo].[Permission] ([PermissionId], [PermissionName], [Description], [BusinessId]) VALUES (3, N'AdministratorController-Delete', N'Chưa có mô tả', N'AdministratorController')
SET IDENTITY_INSERT [dbo].[Permission] OFF
ALTER TABLE [dbo].[CatNew]  WITH CHECK ADD  CONSTRAINT [FK_CatNew_Administrator] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Administrator] ([UserId])
GO
ALTER TABLE [dbo].[CatNew] CHECK CONSTRAINT [FK_CatNew_Administrator]
GO
ALTER TABLE [dbo].[CatNew]  WITH CHECK ADD  CONSTRAINT [FK_CatNew_Administrator1] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Administrator] ([UserId])
GO
ALTER TABLE [dbo].[CatNew] CHECK CONSTRAINT [FK_CatNew_Administrator1]
GO
ALTER TABLE [dbo].[CatVideo]  WITH CHECK ADD  CONSTRAINT [FK_CatVideo_Administrator] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Administrator] ([UserId])
GO
ALTER TABLE [dbo].[CatVideo] CHECK CONSTRAINT [FK_CatVideo_Administrator]
GO
ALTER TABLE [dbo].[CatVideo]  WITH CHECK ADD  CONSTRAINT [FK_CatVideo_Administrator1] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Administrator] ([UserId])
GO
ALTER TABLE [dbo].[CatVideo] CHECK CONSTRAINT [FK_CatVideo_Administrator1]
GO
ALTER TABLE [dbo].[ContenNew]  WITH CHECK ADD  CONSTRAINT [FK_ContenNew_Administrator] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Administrator] ([UserId])
GO
ALTER TABLE [dbo].[ContenNew] CHECK CONSTRAINT [FK_ContenNew_Administrator]
GO
ALTER TABLE [dbo].[ContenNew]  WITH CHECK ADD  CONSTRAINT [FK_ContenNew_Administrator1] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Administrator] ([UserId])
GO
ALTER TABLE [dbo].[ContenNew] CHECK CONSTRAINT [FK_ContenNew_Administrator1]
GO
ALTER TABLE [dbo].[ContenNew]  WITH CHECK ADD  CONSTRAINT [FK_ContenNew_CatNew] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[CatNew] ([ID])
GO
ALTER TABLE [dbo].[ContenNew] CHECK CONSTRAINT [FK_ContenNew_CatNew]
GO
ALTER TABLE [dbo].[GrantPermission]  WITH CHECK ADD  CONSTRAINT [FK_GrantPermission_Administrator] FOREIGN KEY([UserId])
REFERENCES [dbo].[Administrator] ([UserId])
GO
ALTER TABLE [dbo].[GrantPermission] CHECK CONSTRAINT [FK_GrantPermission_Administrator]
GO
ALTER TABLE [dbo].[GrantPermission]  WITH CHECK ADD  CONSTRAINT [FK_GrantPermission_Permission] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permission] ([PermissionId])
GO
ALTER TABLE [dbo].[GrantPermission] CHECK CONSTRAINT [FK_GrantPermission_Permission]
GO
ALTER TABLE [dbo].[Permission]  WITH CHECK ADD  CONSTRAINT [FK_Permission_Business] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[Business] ([BusinessId])
GO
ALTER TABLE [dbo].[Permission] CHECK CONSTRAINT [FK_Permission_Business]
GO
ALTER TABLE [dbo].[Videos]  WITH CHECK ADD  CONSTRAINT [FK_Videos_Administrator] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Administrator] ([UserId])
GO
ALTER TABLE [dbo].[Videos] CHECK CONSTRAINT [FK_Videos_Administrator]
GO
ALTER TABLE [dbo].[Videos]  WITH CHECK ADD  CONSTRAINT [FK_Videos_Administrator1] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Administrator] ([UserId])
GO
ALTER TABLE [dbo].[Videos] CHECK CONSTRAINT [FK_Videos_Administrator1]
GO
ALTER TABLE [dbo].[Videos]  WITH CHECK ADD  CONSTRAINT [FK_Videos_CatVideo] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[CatVideo] ([ID])
GO
ALTER TABLE [dbo].[Videos] CHECK CONSTRAINT [FK_Videos_CatVideo]
GO
