<div class="item">
    <a href="#">
        <div class="box">
            <div class="carousel-caption"></div>
            <img class="img-responsive" src="~/Content/fontend/images/banner-slider/slide-img-1.jpg" width="1600" height="972" alt="" />
            <div class="overlay"></div>
            <div class="overlay-info">
                <div class="cat">
                    <p class="cat-data"><span class="ion-coffee"></span>business</p>
                </div>
                <div class="info">
                    <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="item">
    <a href="#">
        <div class="box ">
            <div class="carousel-caption"></div>
            <img class="img-responsive" src="~/Content/fontend/images/banner-slider/slide-img-2.jpg" width="1600" height="972" alt="" />
            <div class="overlay"></div>
            <div class="overlay-info">
                <div class="cat">
                    <p class="cat-data"><span class="ion-model-s"></span>Lifestyle</p>
                </div>
                <div class="info">
                    <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="item">
    <a href="#">
        <div class="box ">
            <div class="carousel-caption"></div>
            <img class="img-responsive" src="~/Content/fontend/images/banner-slider/slide-img-3.jpg" width="1600" height="972" alt="" />
            <div class="overlay"></div>
            <div class="overlay-info">
                <div class="cat">
                    <p class="cat-data"><span class="ion-trophy"></span>sport</p>
                </div>
                <div class="info">
                    <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="item">
    <a href="#">
        <div class="box ">
            <div class="carousel-caption"></div>
            <img class="img-responsive" src="~/Content/fontend/images/banner-slider/slide-img-4.jpg" width="1600" height="972" alt="" />
            <div class="overlay"></div>
            <div class="overlay-info">
                <div class="cat">
                    <p class="cat-data"><span class="ion-wand"></span>Lifestyle</p>
                </div>
                <div class="info">
                    <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="item">
    <a href="#">
        <div class="box ">
            <div class="carousel-caption"></div>
            <img class="img-responsive" src="~/Content/fontend/images/banner-slider/slide-img-4.jpg" width="1600" height="972" alt="" />
            <div class="overlay"></div>
            <div class="overlay-info">
                <div class="cat">
                    <p class="cat-data"><span class="ion-wand"></span>Lifestyle</p>
                </div>
                <div class="info">
                    <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                </div>
            </div>
        </div>
    </a>
</div>
