<div class="bordered top-margin block_colom_right">
    <div class="row">
        <div class="col-sm-16 bt-space wow fadeInUp animated" data-wow-delay="1s" data-wow-offset="50">
            <img class="img-responsive" src="~/Content/fontend/images/ads/336-280-ad.gif" width="336" height="280" alt="" />
            <a href="#" class="sponsored">sponsored advert</a>
        </div>
        <div class="col-sm-16 bt-spac wow fadeInUp animated" data-wow-delay="1s" data-wow-offset="150">
           <div class="right_title">
               <a href="">Bài viết mới</a>
           </div>
               <ul class="list-unstyled">
                <li>
                    <a href="#">
                        <div class="row">
                            <div class="col-sm-5 col-md-4"><img class="img-thumbnail pull-left" src="~/Content/fontend/images/popular/pop-1.jpg" width="164" height="152" alt="" /> </div>
                            <div class="col-sm-11 col-md-12">
                                <h4>Tellus. Phasellus viverra nulla ut metus</h4>
                                <div class="text-danger sub-info">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="row">
                            <div class="col-sm-5  col-md-4 "><img class="img-thumbnail pull-left" src="~/Content/fontend/images/popular/pop-2.jpg" width="164" height="152" alt="" /> </div>
                            <div class="col-sm-11 col-md-12">
                                <h4>The evolution of the apple ..</h4>
                                <div class="text-danger sub-info">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="row">
                            <div class="col-sm-5  col-md-4 "><img class="img-thumbnail pull-left" src="~/Content/fontend/images/popular/pop-3.jpg" width="164" height="152" alt="" /> </div>
                            <div class="col-sm-11 col-md-12">
                                <h4>The evolution of the apple ..</h4>
                                <div class="text-danger sub-info">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="row">
                            <div class="col-sm-5  col-md-4 "><img class="img-thumbnail pull-left" src="~/Content/fontend/images/popular/pop-4.jpg" width="164" height="152" alt="" /> </div>
                            <div class="col-sm-11 col-md-12">
                                <h4>The evolution of the apple ..</h4>
                                <div class="text-danger sub-info">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="row">
                            <div class="col-sm-5  col-md-4 "><img class="img-thumbnail pull-left" src="~/Content/fontend/images/popular/pop-5.jpg" width="164" height="152" alt="" /> </div>
                            <div class="col-sm-11 col-md-12">
                                <h4>The evolution of the apple ..</h4>
                                <div class="text-danger sub-info">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            
        </div>
        <!-- activities start -->
       
        <!-- radio start -->

        <div class="col-sm-16 bt-space wow fadeInUp animated" data-wow-delay="1s" data-wow-offset="50">
            @*<div class="main-title-outer pull-left">
                <div class="main-title">flicker images</div>
            </div>*@
            <div class="right_title">
                <a href="">Tư Vấn xe</a>
            </div>
            <ul class="list-unstyled">
                <li>
                    <a href="#">
                        <div class="row">
                            <div class="col-sm-5  col-md-4 "><img class="img-thumbnail pull-left" src="~/Content/fontend/images/comments/com-1.jpg" width="164" height="152" alt="" /> </div>
                            <div class="col-sm-11  col-md-12 ">
                                <h4>Tellus Phasellus viverra nulla</h4>
                                <p>Cum sociis natoque penatibus et magnis dis parturient montes..</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="row">
                            <div class="col-sm-5  col-md-4 "><img class="img-thumbnail pull-left" src="~/Content/fontend/images/comments/com-2.jpg" width="164" height="152" alt="" /> </div>
                            <div class="col-sm-11  col-md-12 ">
                                <h4>The evolution of the apple ..</h4>
                                <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo..</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="row">
                            <div class="col-sm-5  col-md-4 "><img class="img-thumbnail pull-left" src="~/Content/fontend/images/comments/com-3.jpg" width="164" height="152" alt="" /> </div>
                            <div class="col-sm-11  col-md-12 ">
                                <h4>The evolution of the apple ..</h4>
                                <p>Donec pede justo, fringilla vel, aliquet nec vulputate..</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="row">
                            <div class="col-sm-5  col-md-4 "><img class="img-thumbnail pull-left" src="~/Content/fontend/images/comments/com-4.jpg" width="164" height="152" alt="" /> </div>
                            <div class="col-sm-12">
                                <h4>The evolution of the apple ..</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="row">
                            <div class="col-sm-5  col-md-4 "><img class="img-thumbnail pull-left" src="~/Content/fontend/images/comments/com-5.jpg" width="164" height="152" alt="" /> </div>
                            <div class="col-sm-11  col-md-12 ">
                                <h4>The evolution of the apple ..</h4>
                                <p>Beatae vitae dicta sunt.explicabo ipsam..</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>

        </div>


        <!-- radio end -->
        <!-- calendar start -->
        <div class="col-sm-16 bt-space wow fadeInUp animated" data-wow-delay="1s" data-wow-offset="50">
            <div class="single pull-left"></div>
        </div>
        <!-- calendar end -->
       
    </div>
</div>