
@{
    ViewBag.Title = "DetailNew";
}

<!-- data Start -->
<section>
    <div class="container ">
        <div class="row ">
            <!-- left sec Start -->
            <div class="col-md-11 col-sm-11">
                <div class="row block_colom">
                    <!-- post details start -->
                    <div class="col-sm-16">
                        <div class="row">
                            <div class="sec-topic col-sm-16  wow fadeInDown animated " data-wow-delay="0.5s">
                                <div class="row">
                                    <div class="col-sm-16"><img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-3.jpg" class="img-thumbnail"></div>

                                    <div class="col-sm-16 sec-info">
                                        <h3>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h3>
                                        <div class="text-danger sub-info-bordered">
                                            <div class="author"><span class="ion-person icon"></span>By: Roman Polyarush</div>
                                            <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                            <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                        </div>
                                        <p>
                                            <span class="letter-badge">L</span>orem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.

                                            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. <a href="#">Vivamus elementum semper</a> nisi. Aenean vulputate eleifend tellus. <br>
                                            Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.Etiam ultricies>nisi vel augue. Curabitur ullamcorper ultricies nisi.
                                        </p>
                                        <blockquote>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                        </blockquote>
                                        <p> Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>
                                        <ul class="icn-list">
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Consectetur adipiscing elit</li>
                                            <li>Integer molestie lorem at massa</li>
                                            <li>Facilisis in pretium nisl aliquet</li>
                                            <li>
                                                Nulla volutpat aliquam velit
                                                <ul>
                                                    <li>Phasellus iaculis neque</li>
                                                    <li>Purus sodales ultricies</li>
                                                    <li>Vestibulum laoreet porttitor sem</li>
                                                    <li>Ac tristique libero volutpat at</li>
                                                </ul>
                                            </li>
                                            <li>Faucibus porta lacus fringilla vel</li>
                                            <li>Aenean sit amet erat nunc</li>
                                            <li>Eget porttitor lorem</li>
                                        </ul>
                                        <p>
                                            Aenean commodo ligula eget dolor. Aenean massa.
                                            <mark> Cum sociis</mark>
                                            natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.

                                            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo
                                        </p>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-16 author-box">
                                <div class="row">
                                    <div class=" col-xs-4 col-sm-2"><img class="img-thumbnail" src="~/Content/fontend/images/comments/com-1.jpg" width="128" height="128" alt="" /></div>
                                    <div class="col-xs-12 col-sm-14">
                                        <h4><a href="#">Author Name</a></h4>
                                        <p>Nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-16 block_colom wow fadeInUp animated " data-wow-delay="0.5s" data-wow-offset="100">
                                <div class="main-title-outer pull-left">
                                    <div class="main-title">lifestyle</div>
                                    <div class="span-outer"><span class="pull-right text-danger last-update"><span class="ion-android-data icon"></span>Last update: 3 days ago</span> </div>
                                </div>
                                <div class="row">
                                    <div id="owl-lifestyle" class="owl-carousel owl-theme lifestyle pull-left">
                                        <div class="item topic">
                                            <a href="#">
                                                <img class="img-thumbnail" src="~/Content/fontend/images/lifestyle/lifestyle-slide-1.jpg" width="300" height="132" alt="" />
                                                <h4>Etiam rhoncus. Maecenas tempus, tellus eget condimentum</h4>
                                                <div class="text-danger sub-info-bordered remove-borders">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="item topic">
                                            <a href="#">
                                                <img class="img-thumbnail" src="~/Content/fontend/images/lifestyle/lifestyle-slide-2.jpg" width="300" height="132" alt="" />
                                                <h4>Etiam rhoncus. Maecenas tempus, tellus eget condimentum</h4>
                                                <div class="text-danger sub-info-bordered remove-borders">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="item topic">
                                            <a href="#">
                                                <img class="img-thumbnail" src="~/Content/fontend/images/lifestyle/lifestyle-slide-3.jpg" width="300" height="132" alt="" />
                                                <h4>Etiam rhoncus. Maecenas tempus, tellus eget condimentum</h4>
                                                <div class="text-danger sub-info-bordered remove-borders">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="item topic">
                                            <a href="#">
                                                <img class="img-thumbnail" src="~/Content/fontend/images/lifestyle/lifestyle-slide-1.jpg" width="300" height="132" alt="" />
                                                <h4>Etiam rhoncus. Maecenas tempus, tellus eget condimentum</h4>
                                                <div class="text-danger sub-info-bordered remove-borders">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="item topic">
                                            <a href="#">
                                                <img class="img-thumbnail" src="~/Content/fontend/images/lifestyle/lifestyle-slide-2.jpg" width="300" height="132" alt="" />
                                                <h4>Etiam rhoncus. Maecenas tempus, tellus eget condimentum</h4>
                                                <div class="text-danger sub-info-bordered remove-borders">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="item topic">
                                            <a href="#">
                                                <img class="img-thumbnail" src="~/Content/fontend/images/lifestyle/lifestyle-slide-3.jpg" width="300" height="132" alt="" />
                                                <h4>Etiam rhoncus. Maecenas tempus, tellus eget condimentum</h4>
                                                <div class="text-danger sub-info-bordered remove-borders">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="col-sm-16 comments-area">
                                <div class="main-title-outer pull-left">
                                    <div class="main-title">comments</div>
                                </div>
                                <div class="opinion pull-left">
                                    <div class="media">
                                        <a href="#" class="pull-left"> <img alt="64x64" data-src="holder.js/64x64" class="media-object" style="width: 64px; height: 64px;" src="~/Content/fontend/images/comments/com-1.jpg"> </a>
                                        <div class="media-body">
                                            <div>
                                                <h4 class="media-heading">John Doe</h4>
                                                <div class="time text-danger"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                            </div>
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                            <div class="col-sm-16"><a href="#"><span class="reply pull-right ion-ios7-compose"></span></a></div>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a href="#" class="pull-left"> <img alt="64x64" data-src="holder.js/64x64" class="media-object" style="width: 64px; height: 64px;" src="~/Content/fontend/images/comments/com-2.jpg"> </a>
                                        <div class="media-body">
                                            <div>
                                                <h4 class="media-heading">John Doe</h4>
                                                <div class="time text-danger"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                            </div>
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                                            <div class="col-sm-16"><a href="#"><span class="reply pull-right ion-ios7-compose"></span></a></div>
                                            <div class="media nested-rep pull-left">
                                                <a href="#" class="pull-left"> <img alt="64x64" class="media-object" style="width: 64px; height: 64px;" src="~/Content/fontend/images/comments/com-1.jpg"> </a>
                                                <div class="media-body ">
                                                    <div>
                                                        <h4 class="media-heading">John Doe</h4>
                                                        <div class="time text-danger"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                                    </div>
                                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                                    <div class="col-sm-16"><a href="#"><span class="reply pull-right ion-ios7-compose"></span></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-16">
                                <div class="main-title-outer pull-left">
                                    <div class="main-title">leave a comment</div>
                                </div>
                                <div class="col-xs-16 wow zoomIn animated">
                                    <form action="" method="post" name="" class="comment-form">
                                        <div class="row">
                                            <div class="form-group col-sm-8 name-field">
                                                <input type="text" placeholder="Name*" required="" class="form-control">
                                            </div>
                                            <div class="form-group col-sm-8 email-field">
                                                <input type="email" placeholder="Email*" required="" class="form-control">
                                            </div>
                                            <div class="form-group col-sm-16">
                                                <textarea placeholder="Your Message" rows="8" class="form-control" required id="message" name="message">                  </textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-danger" type="submit"> Post Reply </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- post details end -->

                </div>
            </div>
            <!-- left sec End -->
            <!-- right sec Start -->
            <div class="col-sm-5 hidden-xs right-sec">
                @Html.Partial("_comlRight")
            </div>
            <!-- Right Sec End -->
        </div>
    </div>
</section>

