@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="row">
        <!-- hot news start -->
        @Html.Partial("_ShileTexttop")
        <!-- hot news end -->
        <!-- banner outer start -->
        <div class="col-sm-16 banner-outer wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
            <div class="row">
                <div class="col-sm-11 col-md-11 col-lg-11">

                    <!-- carousel start -->
                    <div id="sync1" class="owl-carousel">
                        <div class="box item">
                            <a href="#">
                                <div class="carousel-caption">
                                    Republican budget leader Paul Ryan
                                    faces key test in fiscal talks
                                </div>
                                <img class="img-responsive" src="~/Content/fontend/images/banner-slider/slide-img-1.jpg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data"><span class="ion-model-s"></span>lifestyle</p>
                                    </div>
                                    <div class="info">
                                        <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="#">
                                <div class="carousel-caption">
                                    Republican budget leader Paul Ryan
                                    faces key test in fiscal talks
                                </div>
                                <img class="img-responsive" src="~/Content/fontend/images/banner-slider/slide-img-2.jpg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data"><span class="ion-flask"></span>business</p>
                                    </div>
                                    <div class="info">
                                        <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="#">
                                <div class="carousel-caption">
                                    Republican budget leader Paul Ryan
                                    faces key test in fiscal talks
                                </div>
                                <img class="img-responsive" src="~/Content/fontend/images/banner-slider/slide-img-3.jpg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data"><span class="ion-model-s"></span>travel</p>
                                    </div>
                                    <div class="info">
                                        <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="#">
                                <div class="carousel-caption">
                                    Republican budget leader Paul Ryan
                                    faces key test in fiscal talks
                                </div>
                                <img class="img-responsive" src="~/Content/fontend/images/banner-slider/slide-img-4.jpg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data"><span class="ion-model-s"></span>soprt</p>
                                    </div>
                                    <div class="info">
                                        <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                    </div>
                                </div>
                            </a>
                        </div>                      
                    </div>

                    <div class="row">
                        <div id="sync2" class="owl-carousel">
                            <div class="item"><img class=" img-responsive" src="~/Content/fontend/images/banner-slider/slide-img-1.jpg" width="1600" height="972" alt="" /></div>
                            <div class="item"><img class="img-responsive" src="~/Content/fontend/images/banner-slider/slide-img-2.jpg" width="1600" height="972" alt="" /></div>
                            <div class="item"><img class="img-responsive" src="~/Content/fontend/images/banner-slider/slide-img-3.jpg" width="1600" height="972" alt="" /></div>
                            <div class="item"><img class="img-responsive " src="~/Content/fontend/images/banner-slider/slide-img-4.jpg" width="1600" height="972" alt="" /></div>
                           
                        </div>
                    </div>

                </div>
                <div class="col-sm-5 col-md-5">
                    <div class="row block">
                        <div class="col-sm-16 bt-space wow fadeInUp animated" data-wow-delay="1s" data-wow-offset="50">                          
                            <div class="right_title">
                                <a href="">Tin nổi bật</a>
                            </div>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-sm-5 col-md-4"><img class="img-thumbnail pull-left" src="~/Content/fontend/images/popular/pop-1.jpg" width="164" height="152" alt="" /> </div>
                                            <div class="col-sm-11 col-md-12">
                                                <h4>Tellus. Phasellus viverra nulla ut metus</h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-sm-5  col-md-4 "><img class="img-thumbnail pull-left" src="~/Content/fontend/images/popular/pop-2.jpg" width="164" height="152" alt="" /> </div>
                                            <div class="col-sm-11 col-md-12">
                                                <h4>The evolution of the apple ..</h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-sm-5  col-md-4 "><img class="img-thumbnail pull-left" src="~/Content/fontend/images/popular/pop-3.jpg" width="164" height="152" alt="" /> </div>
                                            <div class="col-sm-11 col-md-12">
                                                <h4>The evolution of the apple ..</h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-sm-5  col-md-4 "><img class="img-thumbnail pull-left" src="~/Content/fontend/images/popular/pop-4.jpg" width="164" height="152" alt="" /> </div>
                                            <div class="col-sm-11 col-md-12">
                                                <h4>The evolution of the apple ..</h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-sm-5  col-md-4 "><img class="img-thumbnail pull-left" src="~/Content/fontend/images/popular/pop-5.jpg" width="164" height="152" alt="" /> </div>
                                            <div class="col-sm-11 col-md-12">
                                                <h4>The evolution of the apple ..</h4>
                                                <div class="text-danger sub-info">
                                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- banner outer end -->

    </div>
</div>
<!-- top sec end -->
<!-- data start -->

<div class="container ">
    <div class="row ">
        <!-- left sec start -->
        <div class="col-md-11 col-sm-11 ">
            <div class="row">
                <!-- business start -->
               
                <div class="col-sm-16 block_colom  business  wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="50">
                    <div class="main-title-outer pull-left">
                        <div class="main-title">business</div>
                        <div class="span-outer"><span class="pull-right text-danger last-update"><span class="ion-android-data icon"></span>Last update: 2 days ago</span> </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11 col-sm-16">
                            <div class="row">
                                <div class="col-md-8 col-sm-9 col-xs-16">
                                    <div class="topic">

                                        <a href="#">
                                            <img class="img-thumbnail" src="~/Content/fontend/images/business/business-main.jpg" width="600" height="398" alt="" />
                                            <h3>Famous artist share his tracks for free</h3>
                                            <div class="text-danger sub-info-bordered">
                                                <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                                <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                                <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                            </div>
                                        </a>
                                        <p>Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-7 col-xs-16">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#">
                                                <div class="row">
                                                    <div class="col-sm-5 hidden-sm hidden-md"><img class="img-thumbnail pull-left" src="~/Content/fontend/images/business/business-th-1.jpg" width="76" height="76" alt="" /> </div>
                                                    <div class="col-sm-16 col-md-16 col-lg-11">
                                                        <h4>
                                                            Irish cream and chocolate
                                                            cheesecake
                                                        </h4>
                                                        <div class="text-danger sub-info">
                                                            <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                            <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="row">
                                                    <div class="col-sm-5 hidden-sm hidden-md"><img class="img-thumbnail pull-left" src="~/Content/fontend/images/business/business-th-2.jpg" width="76" height="76" alt="" /> </div>
                                                    <div class="col-sm-16 col-md-16 col-lg-11">
                                                        <h4>Nielsen forecasts smaller black friday </h4>
                                                        <div class="text-danger sub-info">
                                                            <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                            <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="row">
                                                    <div class="col-sm-5 hidden-sm hidden-md"><img class="img-thumbnail pull-left" src="~/Content/fontend/images/business/business-th-3.jpg" width="76" height="76" alt="" /> </div>
                                                    <div class="col-sm-16 col-md-16 col-lg-11">
                                                        <h4>Nielsen forecasts smaller black friday </h4>
                                                        <div class="text-danger sub-info">
                                                            <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                            <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="row">
                                                    <div class="col-sm-5 hidden-sm hidden-md"><img class="img-thumbnail pull-left" src="~/Content/fontend/images/business/business-th-4.jpg" width="76" height="76" alt="" /> </div>
                                                    <div class="col-sm-16 col-md-16 col-lg-11">
                                                        <h4>The evolution of the apple mouse</h4>
                                                        <div class="text-danger sub-info">
                                                            <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                            <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-16 hidden-sm hidden-xs  left-bordered">
                            <div id="vid-thumbs" class="owl-carousel">
                                <div class="item">
                                    <div class="vid-thumb-outer">
                                        <div class="vid-thumb">
                                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=TEnNaUg6Vm4">
                                                <div class="vid-box"><span class="ion-ios7-film"></span><img class="img-thumbnail img-responsive" src="~/Content/fontend/images/business/business-vid-1.jpg" width="250" height="143" alt="" /> </div>
                                                <h4>Perspiciatis unde omnis iste natus</h4>
                                            </a>
                                        </div>
                                        <div class="vid-thumb">
                                            <a class="popup-youtube" href="http://vimeo.com/7396421">
                                                <div class="vid-box"><span class="ion-ios7-film"></span><img class="img-thumbnail img-responsive" src="~/Content/fontend/images/business/business-vid-2.jpg" width="250" height="143" alt="" /> </div>
                                                <h4>Cras tincidunt enim non metus ultricies.</h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="vid-thumb-outer">
                                        <div class="vid-thumb">
                                            <a href="">
                                                <div class="vid-box"><span class="ion-ios7-film"></span><img class="img-thumbnail img-responsive" src="~/Content/fontend/images/business/business-vid-1.jpg" width="250" height="143" alt="" /> </div>
                                                <h4>Perspiciatis unde omnis iste natus</h4>
                                            </a>
                                        </div>
                                        <div class="vid-thumb">
                                            <a href="">
                                                <div class="vid-box"><span class="ion-ios7-film"></span><img class="img-thumbnail img-responsive" src="~/Content/fontend/images/business/business-vid-2.jpg" width="250" height="143" alt="" /> </div>
                                                <h4>Cras tincidunt enim non metus ultricies.</h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="vid-thumb-outer">
                                        <div class="vid-thumb">
                                            <a href="">
                                                <div class="vid-box"><span class="ion-ios7-film"></span><img class="img-thumbnail img-responsive" src="~/Content/fontend/images/business/business-vid-1.jpg" width="250" height="143" alt="" /> </div>
                                                <h4>Perspiciatis unde omnis iste natus</h4>
                                            </a>
                                        </div>
                                        <div class="vid-thumb">
                                            <a href="">
                                                <div class="vid-box"><span class="ion-ios7-film"></span><img class="img-thumbnail img-responsive" src="~/Content/fontend/images/business/business-vid-2.jpg" width="250" height="143" alt="" /> </div>
                                                <h4>Cras tincidunt enim non metus ultricies.</h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                
                    
                    <!-- business end -->
                    <!-- Science & Travel start -->
                <div class="col-sm-16 block_colom">
                    <div class="row">
                        <div class="col-xs-16 col-sm-8  wow fadeInLeft animated science" data-wow-delay="0.5s" data-wow-offset="130">
                            <div class="main-title-outer pull-left">
                                <div class="main-title">science</div>
                                <div class="span-outer"><span class="pull-right text-danger last-update"><span class="ion-android-data icon"></span>Last update: 2 days ago</span> </div>
                            </div>
                            <div class="row">
                                <div class="topic col-sm-16">
                                    <a href="#">
                                        <img class=" img-thumbnail" src="~/Content/fontend/images/science/sci-main.jpg" width="600" height="227" alt="" />
                                        <h3> Curabitur ullamcorper ultricies nisi nam eget dui</h3>
                                        <div class="text-danger sub-info-bordered ">
                                            <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                            <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                        </div>
                                    </a>
                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                                </div>
                                <div class="col-sm-16">
                                    <ul class="list-unstyled  top-bordered ex-top-padding">
                                        <li>
                                            <a href="#">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-4 hidden-sm  "><img width="76" height="76" alt="" src="~/Content/fontend/images/science/sci-th-1.jpg" class="img-thumbnail pull-left"> </div>
                                                    <div class="col-lg-13 col-md-12">
                                                        <h4>
                                                            Irish cream and chocolate
                                                            cheesecake
                                                        </h4>
                                                        <div class="text-danger sub-info">
                                                            <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                            <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="row ">
                                                    <div class="col-lg-3 col-md-4 hidden-sm  "><img width="76" height="76" alt="" src="~/Content/fontend/images/science/sci-th-2.jpg" class="img-thumbnail pull-left"> </div>
                                                    <div class="col-lg-13 col-md-12">
                                                        <h4>
                                                            Irish cream and chocolate
                                                            cheesecake
                                                        </h4>
                                                        <div class="text-danger sub-info">
                                                            <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                            <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-xs-16 wow fadeInRight animated" data-wow-delay="0.5s" data-wow-offset="130">
                            <div class="main-title-outer pull-left">
                                <div class="main-title">travel</div>
                                <div class="span-outer"><span class="pull-right text-danger last-update"><span class="ion-android-data icon"></span>Last update: 2 days ago</span> </div>
                            </div>
                            <div class="row left-bordered">
                                <div class="topic col-sm-16">
                                    <a href="#">
                                        <img class="img-thumbnail" src="~/Content/fontend/images/travel/travel-main.jpg" width="600" height="227" alt="" />
                                        <h3>
                                            Feds open formal probe into tesla
                                            electric ship
                                        </h3>
                                        <div class="text-danger sub-info-bordered">
                                            <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                            <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                        </div>
                                    </a>
                                    <p>Lorem Ipsum has been the standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                </div>
                                <div class="col-sm-16">
                                    <ul class="list-unstyled top-bordered ex-top-padding">
                                        <li>
                                            <a href="#">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-4 hidden-sm  "><img width="76" height="76" alt="" src="~/Content/fontend/images/travel/travel-th-1.jpg" class="img-thumbnail pull-left"> </div>
                                                    <div class="col-lg-13 col-md-12">
                                                        <h4>
                                                            Irish cream and chocolate
                                                            cheesecake
                                                        </h4>
                                                        <div class="text-danger sub-info">
                                                            <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                            <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="row ">
                                                    <div class="col-lg-3 col-md-4 hidden-sm  "><img width="76" height="76" alt="" src="~/Content/fontend/images/travel/travel-th-2.jpg" class="img-thumbnail pull-left"> </div>
                                                    <div class="col-lg-13 col-md-12">
                                                        <h4>
                                                            Irish cream and chocolate
                                                            cheesecake
                                                        </h4>
                                                        <div class="text-danger sub-info">
                                                            <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                                            <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                                            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                    <!-- Scince & Travel end -->
                    <!-- lifestyle start-->
                <div class="col-sm-16 block_colom wow fadeInUp animated " data-wow-delay="0.5s" data-wow-offset="100">
                    <div class="main-title-outer pull-left">
                        <div class="main-title">lifestyle</div>
                        <div class="span-outer"><span class="pull-right text-danger last-update"><span class="ion-android-data icon"></span>Last update: 3 days ago</span> </div>
                    </div>
                    <div class="row">
                        <div id="owl-lifestyle" class="owl-carousel owl-theme lifestyle pull-left">
                            <div class="item topic">
                                <a href="#">
                                    <img class="img-thumbnail" src="~/Content/fontend/images/lifestyle/lifestyle-slide-1.jpg" width="300" height="132" alt="" />
                                    <h4>Etiam rhoncus. Maecenas tempus, tellus eget condimentum</h4>
                                    <div class="text-danger sub-info-bordered remove-borders">
                                        <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                        <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                        <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                    </div>
                                </a>
                            </div>
                            <div class="item topic">
                                <a href="#">
                                    <img class="img-thumbnail" src="~/Content/fontend/images/lifestyle/lifestyle-slide-2.jpg" width="300" height="132" alt="" />
                                    <h4>Etiam rhoncus. Maecenas tempus, tellus eget condimentum</h4>
                                    <div class="text-danger sub-info-bordered remove-borders">
                                        <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                        <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                        <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                    </div>
                                </a>
                            </div>
                            <div class="item topic">
                                <a href="#">
                                    <img class="img-thumbnail" src="~/Content/fontend/images/lifestyle/lifestyle-slide-3.jpg" width="300" height="132" alt="" />
                                    <h4>Etiam rhoncus. Maecenas tempus, tellus eget condimentum</h4>
                                    <div class="text-danger sub-info-bordered remove-borders">
                                        <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                        <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                        <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                    </div>
                                </a>
                            </div>
                            <div class="item topic">
                                <a href="#">
                                    <img class="img-thumbnail" src="~/Content/fontend/images/lifestyle/lifestyle-slide-1.jpg" width="300" height="132" alt="" />
                                    <h4>Etiam rhoncus. Maecenas tempus, tellus eget condimentum</h4>
                                    <div class="text-danger sub-info-bordered remove-borders">
                                        <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                        <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                        <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                    </div>
                                </a>
                            </div>
                            <div class="item topic">
                                <a href="#">
                                    <img class="img-thumbnail" src="~/Content/fontend/images/lifestyle/lifestyle-slide-2.jpg" width="300" height="132" alt="" />
                                    <h4>Etiam rhoncus. Maecenas tempus, tellus eget condimentum</h4>
                                    <div class="text-danger sub-info-bordered remove-borders">
                                        <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                        <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                        <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                    </div>
                                </a>
                            </div>
                            <div class="item topic">
                                <a href="#">
                                    <img class="img-thumbnail" src="~/Content/fontend/images/lifestyle/lifestyle-slide-3.jpg" width="300" height="132" alt="" />
                                    <h4>Etiam rhoncus. Maecenas tempus, tellus eget condimentum</h4>
                                    <div class="text-danger sub-info-bordered remove-borders">
                                        <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                        <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                        <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                    <!-- lifestyle end -->
                    <!--Recent videos start-->
                <div class="col-sm-16 block_colom recent-vid wow fadeInDown animated " data-wow-delay="0.5s" data-wow-offset="50">
                    <div class="main-title-outer pull-left">
                        <div class="main-title">recent videos</div>
                        <div class="span-outer"><span class="pull-right text-danger last-update"><span class="ion-android-data icon"></span>Last update: 1 day ago</span> </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11 col-xs-16">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div id="vid-first" class="tab-pane embed-responsive embed-responsive-16by9 active">
                                    <iframe width="514" height="289" src="//www.youtube.com/embed/OFDAGiPJHL8?showinfo=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div id="vid-second" class="tab-pane embed-responsive embed-responsive-16by9">
                                    <iframe width="514" height="289" frameborder="0" allowfullscreen="" src="//www.youtube.com/embed/TEnNaUg6Vm4?rel=0&amp;showinfo=0"></iframe>
                                </div>
                                <div id="vid-third" class="tab-pane embed-responsive embed-responsive-16by9">
                                    <iframe width="514" height="289" src="//www.youtube.com/embed/rDZ1AjDJjFI?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 col-xs-2">
                            <!-- required for floating -->
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs tabs-right hidden-xs">
                                <li class="active">
                                    <a data-toggle="tab" href="#vid-first">
                                        <div class="vid-thumb">
                                            <div class="vid-box"><span class="ion-eye"></span><img class="img-thumbnail" src="~/Content/fontend/images/recent-videos/re-vid-1.jpg" width="234" height="87" alt="" /> </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#vid-second">
                                        <div class="vid-thumb">
                                            <div class="vid-box"><span class="ion-eye"></span><img class="img-thumbnail" src="~/Content/fontend/images/recent-videos/re-vid-2.jpg" width="234" height="87" alt="" /> </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#vid-third">
                                        <div class="vid-thumb">
                                            <div class="vid-box"><span class="ion-eye"></span><img class="img-thumbnail" src="~/Content/fontend/images/recent-videos/re-vid-3.jpg" width="234" height="87" alt="" /> </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                </div>
                    <!--Recent videos end-->
                    <!--wide ad start-->
                <div class="col-sm-16 block_colom wow fadeInDown animated " data-wow-delay="0.5s" data-wow-offset="25"><img class="img-responsive" src="~/Content/fontend/images/ads/728-90-ad.gif" width="728" height="90" alt="" /></div>
                    <!--wide ad end-->

            </div>
        </div>
        <!-- left sec end -->
        <!-- right sec start -->
        <div class="col-sm-5 hidden-xs right-sec">
           @Html.Partial("_comlRight")
        </div>
        <!-- right sec end -->
    </div>
</div>