
@{
    ViewBag.Title = "PateNew";
}

 <!-- data start -->
<section>
    <div class="container ">
        <div class="row ">
            <!-- left sec start -->
            <div class="col-md-11 col-sm-11">
                <div class="row block_colom">
                    <div class="sec-topic col-sm-16 wow fadeInDown animated " data-wow-delay="0.5s">
                        <div class="row">
                            <div class="col-sm-7"><img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail"></div>
                            <div class="col-sm-9">
                                <a href="#">
                                    <div class="sec-info">
                                        <h3>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h3>
                                        <div class="text-danger sub-info-bordered">
                                            <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                            <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                        </div>
                                    </div>
                                </a>
                                <p>Lorem Ipsum has been the standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it </p>
                            </div>
                        </div>
                    </div>
                    <div class="sec-topic col-sm-16 wow fadeInDown animated " data-wow-delay="0.5s">
                        <div class="row">
                            <div class="col-sm-7"><img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-2.jpg" class="img-thumbnail"></div>
                            <div class="col-sm-9">
                                <a href="#">
                                    <div class="sec-info">
                                        <h3>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h3>
                                        <div class="text-danger sub-info-bordered">
                                            <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                            <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                        </div>
                                    </div>
                                </a>
                                <p>Lorem Ipsum has been the standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it </p>
                            </div>
                        </div>
                    </div>
                    <div class="sec-topic col-sm-16 wow fadeInDown animated " data-wow-delay="0.5s">
                        <div class="row">
                            <div class="col-sm-7"><img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-3.jpg" class="img-thumbnail"></div>
                            <div class="col-sm-9">
                                <a href="#">
                                    <div class="sec-info">
                                        <h3>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h3>
                                        <div class="text-danger sub-info-bordered">
                                            <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                            <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                        </div>
                                    </div>
                                </a>
                                <p>Lorem Ipsum has been the standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it </p>
                            </div>
                        </div>
                    </div>
                    <div class="sec-topic col-sm-16 wow fadeInDown animated " data-wow-delay="0.5s">
                        <div class="row">
                            <div class="col-sm-7"><img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-4.jpg" class="img-thumbnail"></div>
                            <div class="col-sm-9">
                                <a href="#">
                                    <div class="sec-info">
                                        <h3>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h3>
                                        <div class="text-danger sub-info-bordered">
                                            <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                            <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                        </div>
                                    </div>
                                </a>
                                <p>Lorem Ipsum has been the standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it </p>
                            </div>
                        </div>
                    </div>
                    <div class="sec-topic col-sm-16 wow fadeInDown animated " data-wow-delay="0.5s">
                        <div class="row">
                            <div class="col-sm-7"><img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-5.jpg" class="img-thumbnail"></div>
                            <div class="col-sm-9">
                                <a href="#">
                                    <div class="sec-info">
                                        <h3>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h3>
                                        <div class="text-danger sub-info-bordered">
                                            <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                            <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                        </div>
                                    </div>
                                </a>
                                <p>Lorem Ipsum has been the standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it </p>
                            </div>
                        </div>
                    </div>
                    <div class="sec-topic col-sm-16 wow fadeInDown animated " data-wow-delay="0.5s">
                        <div class="row">
                            <div class="col-sm-7"><img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-6.jpg" class="img-thumbnail"></div>
                            <div class="col-sm-9">
                                <a href="#">
                                    <div class="sec-info">
                                        <h3>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h3>
                                        <div class="text-danger sub-info-bordered">
                                            <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                            <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                        </div>
                                    </div>
                                </a>
                                <p>Lorem Ipsum has been the standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it </p>
                            </div>
                        </div>
                    </div>
                    <div class="sec-topic col-sm-16 wow fadeInDown animated " data-wow-delay="0.5s">
                        <div class="row">
                            <div class="col-sm-7"><img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-7.jpg" class="img-thumbnail"></div>
                            <div class="col-sm-9">
                                <a href="#">
                                    <div class="sec-info">
                                        <h3>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h3>
                                        <div class="text-danger sub-info-bordered">
                                            <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                            <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                        </div>
                                    </div>
                                </a>
                                <p>Lorem Ipsum has been the standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it </p>
                            </div>
                        </div>
                    </div>
                    <div class="sec-topic col-sm-16 wow fadeInDown animated " data-wow-delay="0.5s">
                        <div class="row">
                            <div class="col-sm-7"><img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-8.jpg" class="img-thumbnail"></div>
                            <div class="col-sm-9">
                                <div class="sec-info">
                                    <a href="#">
                                        <h3>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h3>
                                        <div class="text-danger sub-info-bordered">
                                            <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                            <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                        </div>
                                </div>
                                </a>
                                <p>Lorem Ipsum has been the standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-16">
                        <hr>
                        <ul class="pagination">
                            <li><a href="#">&laquo;</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- left sec end -->
            <!-- right sec start -->
            <div class="col-sm-5 hidden-xs right-sec">
               @Html.Partial("_comlRight")
            </div>
        </div>
    </div>
</section>

