
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/fontend/Lib/everslider/css/everslider.css" rel="stylesheet" />
<link href="~/Content/fontend/Lib/everslider/css/everslider-custom.css" rel="stylesheet" />
@section Scripts {

<script src="~/Content/fontend/Lib/everslider/js/jquery.everslider.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        /* Fullwidth slider */
        $('#fullwidth_slider').everslider({
            mode: 'carousel',
            moveSlides: 1,
            slideEasing: 'easeInOutCubic',
            slideDuration: 700,
            navigation: true,
            keyboard: true,
            nextNav: '<span class="alt-arrow">Next</span>',
            prevNav: '<span class="alt-arrow">Next</span>',
            ticker: true,
            tickerAutoStart: false,
            tickerHover: true,
            tickerTimeout: 1000
        });


    });
</script>
    }
<div class="nhacsang">
    <div class="container ">
        <!-- fullwidth slider -->
        <div class="grid_12">
            <div id="fullwidth_slider" class="everslider fullwidth-slider">
                <ul class="es-slides">
                    <li>
                      
                        <a href=""><img src="~/Content/fontend/Lib/everslider/images/topbg.jpg"></a>
                        <div class="fullwidth-title">
                            <a href="">
                                Xe đạp thông minh Valour tích hợp tính năng dẫn đường Turn-by-Turn
                            </a>
                          
                        </div>
                    </li>
                    <li>

                        <a href=""><img src="~/Content/fontend/Lib/everslider/images/topbg.jpg"></a>
                        <div class="fullwidth-title">
                            <a href="">
                                Sada Bike: Xe đạp gập lại được như gấp ô
                            </a>
                         
                        </div>
                    </li>
                    <li>

                        <a href=""><img src="~/Content/fontend/Lib/everslider/images/topbg.jpg"></a>
                        <div class="fullwidth-title">
                            <a href="">
                                Khóa chống trộm xe đạp bằng smartphone
                            </a>
                           
                        </div>
                    </li>
                    <li>

                        <a href=""><img src="~/Content/fontend/Lib/everslider/images/topbg.jpg"></a>
                        <div class="fullwidth-title">
                            <a href="">
                                Xe đạp một bánh kiểu Tây giá nghìn đô du nhập Sài Gòn
                            </a>
                           
                        </div>
                    </li>
                    <li>

                        <a href=""><img src="~/Content/fontend/Lib/everslider/images/topbg.jpg"></a>
                        <div class="fullwidth-title">
                            <a href="">
                                Thiết bị mới giúp chiếc xe đạp của bạn “thông minh” hơn
                            </a>
                            
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- fullwidth slider -->

        <div class="col-sm-16 block_colom wow fadeInUp animated " data-wow-delay="0.5s" data-wow-offset="100">
            <div class="main-title-outer pull-left">
                <div class="main-title">Nhạc sang Remix</div>
                <div class="span-outer"><span class="pull-right text-danger last-update"><span class="ion-android-data icon"></span>Last update: 3 days ago</span> </div>
            </div>
            <div class="row">

                <div class="sec-topic col-sm-16 item_remix col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                    <a href="#">
                        <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">
                        <span class="play_videos">
                            <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                        </span>
                        <div class="sec-info">
                            <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                            <div class="text-danger sub-info-bordered">
                                <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                            </div>
                        </div>
                    </a>
                  
                </div>
                <div class="sec-topic col-sm-16 item_remix col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                    <a href="#">
                        <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">
                        <span class="play_videos">
                            <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                        </span>
                        <div class="sec-info">
                            <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                            <div class="text-danger sub-info-bordered">
                                <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="sec-topic col-sm-16 item_remix col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                    <a href="#">
                        <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">
                        <span class="play_videos">
                            <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                        </span>
                        <div class="sec-info">
                            <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                            <div class="text-danger sub-info-bordered">
                                <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="sec-topic col-sm-16 item_remix col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                    <a href="#">
                        <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">
                        <span class="play_videos">
                            <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                        </span>
                        <div class="sec-info">
                            <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                            <div class="text-danger sub-info-bordered">
                                <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="sec-topic col-sm-16 item_remix col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                    <a href="#">
                        <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">
                        <span class="play_videos">
                            <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                        </span>
                        <div class="sec-info">
                            <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                            <div class="text-danger sub-info-bordered">
                                <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="sec-topic col-sm-16 item_remix col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                    <a href="#">
                        <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">
                        <span class="play_videos">
                            <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                        </span>
                        <div class="sec-info">
                            <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                            <div class="text-danger sub-info-bordered">
                                <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="sec-topic col-sm-16 item_remix col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                    <a href="#">
                        <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">
                        <span class="play_videos">
                            <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                        </span>
                        <div class="sec-info">
                            <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                            <div class="text-danger sub-info-bordered">
                                <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="sec-topic col-sm-16 item_remix col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                    <a href="#">
                        <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">
                        <span class="play_videos">
                            <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                        </span>
                        <div class="sec-info">
                            <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                            <div class="text-danger sub-info-bordered">
                                <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                            </div>
                        </div>
                    </a>

                </div>

               


            </div>
            <hr>
        </div>

        <div class="col-sm-16 block_colom wow fadeInUp animated " data-wow-delay="0.5s" data-wow-offset="100">
            <div class="main-title-outer pull-left">
                <div class="main-title">Trữ Tình Remix</div>
                <div class="span-outer"><span class="pull-right text-danger last-update"><span class="ion-android-data icon"></span>Last update: 3 days ago</span> </div>
            </div>
            <div class="row">

                <div class="sec-topic col-sm-16 item_remix col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                    <a href="#">
                        <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">
                        <span class="play_videos">
                            <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                        </span>
                        <div class="sec-info">
                            <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                            <div class="text-danger sub-info-bordered">
                                <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="sec-topic col-sm-16 item_remix col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                    <a href="#">
                        <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">
                        <span class="play_videos">
                            <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                        </span>
                        <div class="sec-info">
                            <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                            <div class="text-danger sub-info-bordered">
                                <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="sec-topic col-sm-16 item_remix col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                    <a href="#">
                        <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">
                        <span class="play_videos">
                            <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                        </span>
                        <div class="sec-info">
                            <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                            <div class="text-danger sub-info-bordered">
                                <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="sec-topic col-sm-16 item_remix col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                    <a href="#">
                        <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">
                        <span class="play_videos">
                            <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                        </span>
                        <div class="sec-info">
                            <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                            <div class="text-danger sub-info-bordered">
                                <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="sec-topic col-sm-16 item_remix col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                    <a href="#">
                        <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">
                        <span class="play_videos">
                            <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                        </span>
                        <div class="sec-info">
                            <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                            <div class="text-danger sub-info-bordered">
                                <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="sec-topic col-sm-16 item_remix col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                    <a href="#">
                        <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">
                        <span class="play_videos">
                            <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                        </span>
                        <div class="sec-info">
                            <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                            <div class="text-danger sub-info-bordered">
                                <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="sec-topic col-sm-16 item_remix col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                    <a href="#">
                        <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">
                        <span class="play_videos">
                            <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                        </span>
                        <div class="sec-info">
                            <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                            <div class="text-danger sub-info-bordered">
                                <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="sec-topic col-sm-16 item_remix col-md-4 wow fadeInDown animated " data-wow-delay="0.5s">
                    <a href="#">
                        <img width="1000" height="606" alt="" src="~/Content/fontend/images/sec/sec-1.jpg" class="img-thumbnail">
                        <span class="play_videos">
                            <img src="~/Content/fontend/images/ico-video-large.png" style="height:60px;width:60px;" />
                        </span>
                        <div class="sec-info">
                            <h4>Air Force Base Airmen supporting the Operation Noble Eagle alert mission</h4>
                            <div class="text-danger sub-info-bordered">
                                <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                                <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                                <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                            </div>
                        </div>
                    </a>

                </div>




            </div>
            <hr>
        </div>

      
    </div>
</div>


